.sliderBar {
  position: relative;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.sliderBar .grayLayer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #eee;
  background: rgba(0, 0, 0, 0.7);
  z-index: 888;
  display: block;
}
.sliderBar .content {
  width: 100%;
  display: block;
  position: fixed;
  z-index: 889;
  color: black;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  bottom: -350px;
  background: white;
}
.sliderBar .content .fixWidth {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.sliderBar .content .fixWidth:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.sliderBar .content .btnBar {
  border-bottom: 1px solid #DCDCDC;
  font-size: 15px;
  height: 45px;
  position: relative;
  text-align: center;
  line-height: 45px;
}
.sliderBar .content .btnBar .cancel,
.sliderBar .content .btnBar .ensure {
  height: 45px;
  width: 55px;
  cursor: pointer;
  position: absolute;
  top: 0;
}
.sliderBar .content .btnBar .cancel {
  left: 0;
  color: #666;
}
.sliderBar .content .btnBar .ensure {
  right: 0;
  color: #1e83d3;
}
.sliderBar .content .btnBar .title {
  font-size: 15px;
}
.sliderBar .content .panel:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.sliderBar .content .panel .fixWidth {
  padding: 70px 0;
}
.sliderBar .content .panel .slider {
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 2px 1px #d1d1d1;
  box-shadow: inset 0px 1px 2px 1px #d1d1d1;
  height: 10px;
  background-color: #eaeaea;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.sliderBar .content .panel .slider .bar {
  cursor: pointer;
  border-radius: 1px;
  display: block;
  height: 2px;
  top: 4px;
  left: 5px;
  position: absolute;
  background-color: #1e83d3;
  width: 62px;
}
.sliderBar .content .panel .slider .handle {
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px 1px #d1d1d1;
  box-shadow: 0px 0px 1px 1px #d1d1d1;
  height: 20px;
  width: 20px;
  border: solid 2px #f1eff0;
  margin-top: -7px;
  margin-left: -12px;
  position: absolute;
  background-color: #e7e7e7;
  top: 1px;
  left: 0px;
}
.sliderBar .content .panel .slider .handle .label {
  background: #1e83d3;
  color: white;
  position: absolute;
  top: -30px;
  padding: 2px 5px;
  border-radius: 3px;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.sliderBar .content .panel .slider .startHandle .label {
  right: 0;
}
.sliderBar .content .panel .slider .endHandle .label {
  left: 0;
}
.sliderBar-show {
  opacity: 1;
  z-index: 10000;
}
.sliderBar-show .content {
  bottom: 0;
}
